@font-face {
  font-family: "LeferiPoint-BlackObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* NanumSquare */
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

.btn {
  border: none;
  border-radius: 15px;
  background-color: #f4e153;
  padding: 10px 20px;
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #ffeb58;
}

.btn:active {
  background-color: #e8d64f;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  height: 100%;
  overflow: auto;
  font-family: "NanumSquare";
}

.logo img {
  width: 66.6%;
  max-width: 468px;
}

/* main page */
.main-page {
  font-family: "LeferiPoint-BlackObliqueA" !important;
}

.main-phrase {
  width: 90%;
  max-width: 567px;
  margin: 0 auto;
}

.main-phrase hr {
  border-color: transparent;
  background-color: #f4e153;
  margin-top: -5px;
  margin-bottom: 15px;
}

.main-bottom {
  height: 4rem;
}

.main-bottom button {
  width: 80%;
  max-width: 376px;
}

/* map selection */
.map-select h1 {
  margin-top: 16px;
}

.map-select > * {
  margin: 10px 0;
}

.map-select > h3 {
  margin-bottom: 0;
}

.map-select > button {
  width: 80%;
  max-width: 384px;
  margin-top: 0;
}

.search-bar {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 60%;
  max-width: 768px;
  height: 100%;
  font-size: 22px;
  padding: 0 15px;
  border-radius: 15px 0 0 15px;
  border-right: none;
  border: 2px solid #f4e153;
  outline: none;
}

.search-btn {
  width: 20%;
  max-width: 150px;
  height: 100%;
  padding: 10px;
  border-radius: 0 15px 15px 0;
  border: none;
  outline: none;
}

/* option page */
.option-page > * {
  margin-top: 10px;
}

.description {
  width: 90%;
  max-width: 768px;
  margin: 10px auto;
  padding: 10px;
  background-color: rgba(244, 225, 83, 0.5);
  border-radius: 10px;
  text-align: left;
}

.option-page select {
  font-size: 18px;
  padding: 2px 5px;
  margin: 0 10px;
}

.option-table {
  width: 90%;
  max-width: 468px;
  margin: 0 auto;
  font-size: 18px;
  border-spacing: 10px;
}

.option-table th {
  font-size: 22px;
}

.option-table input {
  width: 100px;
  font-size: 18px;
  padding: 2px 5px;
}

/* result page */

.result-page > * {
  margin-top: 10px;
  margin: auto;
}

.result-page hr,
table {
  max-width: 1280px;
}

.result-page hr {
  width: 95%;
  margin: auto;
  border-color: transparent;
  background-color: #f4e153;
  margin-top: -5px;
  margin-bottom: 15px;
}

.result-page .logo {
  margin-top: 10px;
  width: 80px;
  height: 80px;
}

.result-page table {
  width: 95%;
  margin: 0 auto;
  text-align: left;
  border-spacing: 0;
}

.result-page td {
  padding: 10px;
}

.result-page tr {
  border: 1px solid black;
  transition: all 0.1s ease-in-out;
}

.result-page tr:hover {
  background-color: #e9e9e9;
}

.result-page img {
  width: 100%;
  height: 100%;
  max-width: 467px;
  object-fit: cover;
}

.result-page .img-cell {
  padding: 0;
  width: 33%;
}

.item-result-row {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* loader */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #f4e153;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
