@font-face {
  font-family: "LeferiPoint-BlackObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.btn {
  border: none;
  border-radius: 15px;
  background-color: #f4e153;
  padding: 10px 20px;
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #ffeb58;
}

.btn:active {
  background-color: #e8d64f;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-page {
  height: 100%;
  font-family: "LeferiPoint-BlackObliqueA";
}

.logo img {
  width: 66.6%;
  max-width: 468px;
}

.main-phrase {
  width: 90%;
  max-width: 567px;
  margin: 0 auto;
}

.main-phrase hr {
  border-color: transparent;
  background-color: #f4e153;
  margin-top: -5px;
  margin-bottom: 15px;
}

.main-bottom {
  height: 5rem;
}

.main-bottom button {
  width: 80%;
  max-width: 376px;
}
